body {
  font-family: sans-serif;
  margin: 0%;
}

header {
  width: 100%;
  background-color: #111122;
}
.wrapper {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  margin: 0 15px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.logo a:hover {
  margin: 0 15px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.nav-items {
  list-style: none;
  display: flex;
}
.nav-item a {
  padding: 0 15px;
  color: #ffffff;
  text-decoration: none;
}
.nav-item a:hover {
  text-decoration: underline;
}
.nav-v-line {
  border-left: 1px solid #ffffff;
  margin: 0 10px;
}

.body-contents {
  width: 90%;
  margin: 0 auto;
}

h1 {
  padding: 0 20px;
  border-bottom: 1px solid #888888;
}
h2 a {
  padding: 0 10px;
  border-left: 5px solid #888888;
  color: #000000;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}
p a {
  color: #4444bb;
  text-decoration: underline;
}
p a:hover {
  color: #bb44bb;
  text-decoration: underline;
}

details {
  border: 2px solid #bbbbbb;
  border-radius: 5px;
}
summary{
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  background: #dddddd;
  user-select: none;
}

.form-filter {
  padding: 5px;
}

.form-group {
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.form-group label {
  font-size: small;
  padding: 0 5px;
  font-weight: bold;
}
.form-group input[type=text] {
  height: 26px;
}
.form-group input[type=number] {
  height: 26px;
}

.chkbox {
  margin: 3px;
}
.chkbox input[type=checkbox] {
	display: none;
}
.chkbox label {
  user-select: none;
  padding: 0;
  font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	cursor:	pointer;
	position:	relative;
}
.chkbox label:before {
  content: '';
	width: 14px;
	height:	14px;
	display: inline-block;
	background-color:	#ffffff;
  border: 1px solid #000000;
	border-radius: 3px;
  margin: 0 3px;
}
.chkbox label::after {
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
  content: '';
  display: block;
  height: 9px;
  left: 7px;
  width: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  opacity: 0;
}
.chkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}

.def-list dt {
  border-left: 5px solid #888888;
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
}
.def-list dt a {
  color: #000000;
  text-decoration: none;
}
.def-list dt a:hover {
  text-decoration: underline;
}
.def-list dd {
  margin: 10px;
}