body {
  font-family: sans-serif;
  margin: 0%;
  min-width: 700px;
}

header {
  width: 100%;
  background-color: #111122;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  margin: 0 15px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: white;
  text-decoration: none;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item a {
  padding: 0 15px;
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-v-line {
  border-left: 1px solid white;
  margin: 0 10px;
}

.body-contents {
  width: 90%;
  margin: 0 auto;
}

h1 {
  padding: 0 20px;
  border-bottom: 1px solid gray;
}

h2 a {
  padding: 0 10px;
  border-left: 5px solid gray;
  color: black;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

p a {
  color: cornflowerblue;
  text-decoration: underline;
}

p a:hover {
  color: palevioletred;
  text-decoration: underline;
}

.def-list {
  display: flex;
  flex-wrap: wrap;
}

.def-list dt {
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
  width: 30%;
}

.def-list dt::before {
  content: '';
  width: 5px;
  height: 5px;
  padding: 0 5px;
  border-left: 3px solid gray;
}

.def-list dt a {
  color: black;
  text-decoration: none;
}

.def-list dt a:hover {
  text-decoration: underline;
}

.def-list dd {
  margin: 10px;
  vertical-align: top;
  width: 60%;
}

details {
  border: 2px solid gray;
  border-radius: 5px;
}

summary {
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  background: gainsboro;
  user-select: none;
}

.form-filter {
  padding: 5px;
  margin: 0;
}

.form-apply {
  font-weight: bold;
  color: white;
  background-color: dimgray;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.form-reset {
  color: black;
  background-color: whitesmoke;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  padding: 5px;
  text-align: left;
}

.form-group th {
  font-size: small;
  padding: 0 5px;
  min-width: 80px;
  font-weight: bold;
}

.form-group td {
  display: flex;
  justify-content: left;
  align-items: center;
}

.form-group input[type=text] {
  height: 26px;
}

.form-group input[type=number] {
  height: 26px;
}

.form-group select {
  height: 26px;
  min-width: 160px;
}

.chkbox {
  margin: 3px;
}

.chkbox input[type=checkbox] {
  display: none;
}

.chkbox label {
  user-select: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.chkbox label:before {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 4px 0 0;
  vertical-align: middle;
}

.chkbox label::after {
  border-right: 3px solid dimgray;
  border-bottom: 3px solid dimgray;
  content: '';
  display: block;
  height: 9px;
  width: 5px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  opacity: 0;
}

.chkbox input[type=checkbox]:checked+label::after {
  opacity: 1;
}

.problem-list {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
}

.problem-list th {
  padding: 10px 10px;
  font-weight: bold;
  background-color: whitesmoke;
  vertical-align: middle;
}

.problem-list th:after {
  vertical-align: middle;
  font-weight: normal;
  font-size: 6px;
}

.problem-list td {
  font-size: small;
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
}

.problem-list a {
  color: black;
  text-decoration: none;
}

.problem-list a:hover {
  text-decoration: underline;
}

.sort:after {
  content: "■";
}

.sort.desc:after {
  content: "▼";
}

.sort.asc:after {
  content: "▲";
}

.pl-name {
  display: inline-block;
  vertical-align: middle;
}

.problem-column {
  transition: 0.3s;
}

.problem-column[ca=true] {
  background-color: #ddffdd;
}

.ca-circle {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  border: 1px solid gray;
}

.ca-circle[ca=true]::after {
  border-right: 3px solid dimgray;
  border-bottom: 3px solid dimgray;
  content: '';
  display: block;
  height: 9px;
  width: 5px;
  margin-left: 3px;
  top: 50%;
  transform: rotate(45deg);
}

.problem-column a[voluntary=true]::before {
  content: '有志';
  color: white;
  background-color: black;
  font-size: 8px;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

.pagination {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}

.pagination li {
  margin: 0 1px;
  position: relative;
  left: -50%;
  float: left;
}

.pagination li span, .pagination li a {
  display: block;
  font-size: 14px;
  padding: 0.6em 1em;
  border-radius: 5px;
  border: 2px solid gray;
}

.pagination li a {
  background: white;
  color: black;
  text-decoration: none;
}

.pagination li a:hover {
  background: lightgrey;
}

.pagination li.active a {
  background: darkgrey;
  color: white;
  font-weight: bold;
}